
<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home">
  <header class="clearfix">
   <div class="row">
    <div id="container-header" class="col-lg-6 col-lg-offset-3">
    <%= link_to "Entrar", new_user_session_path , class:"btn btn-lg btn-default outline btn-lg"%>
    <%= link_to "Registrarse",  new_user_registration_path ,class:"btn btn-lg btn-success btn-lg", id:"sign-up"%>
    <p>Técnica para el desarrollo ágil.</p>
    <p>Entra y Aumenta tu productividad.</p>
    </div>

  </div>
  </header>
</div><!-- /headerwrap -->

<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
  <div class="row">
    <div class="col-lg-4 callout">
      <span class="icon icon-stack"></span>
      <h2>Real Time</h2>
      <p>Crea tus proyectos y modifica tus archivos en tiempo real facilmente </p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 callout">
      <span class="icon icon-camera"></span>
      <h2>Video Conferencias</h2>
      <p>Comparte de manera interactiva por audio y video con los miembros de tu equipo. </p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 callout">
      <span class="icon icon-dashboard"></span>
      <h2>Agilidad</h2>
      <p>Organiza de manera facil tus proyectos y desarrolla tus proyectos agilmente.   </p>
    </div><!-- col-lg-4 -->
  </div><!-- row -->
</div><!-- greywrap -->

<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
  <div class="row white">
    <br>
    <h1 class="centered">Nuestra plataforma</h1>
    <hr>

    <div class="col-lg-6">
      <p>Gracias a Nuestra plataforma podras crear tus proyectos y comenzar a programarlo simultaneamente de manera remota.Comparte tus archivos e interactua por video conferencias con los miembros de tu proyecto</p>
    </div><!-- col-lg-6 -->

    <div class="col-lg-6">
      <p>No te pierdas ni un paso y comienza a trabajar de manera colaborativa disfrutando de nuestra grandiosa plataforma y seras más productivo.</p>
    </div><!-- col-lg-6 -->
  </div><!-- row -->
</div><!-- container -->

<!-- ==== SECTION DIVIDER2 -->
<section class="section-divider textdivider divider2">
  <div class="container">
    <h1>COMIENZA <strong>PAIRDEV</strong> EN SEGUNDOS</h1>
    <hr>
    <p>Para desarrollar una conexión más profunda y significativa con los miembros de tu proyecto.</p>
  </div><!-- container -->
</section><!-- section -->

<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="team" name="team">
  <br>
  <div class="row white centered">
    <h1 class="centered">Fundadores</h1>
    <hr>
    <br>
    <br>

    <div class="col-lg-4 col-lg-offset-4 centered">
       <%= image_tag(Gravatar.new("neneriostb@gmail.com").image_url+"?s=120", class:"img-circle") %>

      <br>
      <h4><b>Miguel Casas Perea</b></h4>
      <a href="https://twitter.com/neneriostb" target="_blank" class="icon icon-twitter"></a>
      <a href="https://www.facebook.com/neneriostb" target="_blank" class="icon icon-facebook"></a>
      <p>Miguel es el Frontend y Backend de la plataforma con alto nivel de experiencia en el desarrollo de software.</p>
    </div><!-- col-lg-3 -->



  </div><!-- row -->
</div><!-- container -->

      <!-- ==== SECTION DIVIDER4 ==== -->
      <section class="section-divider textdivider divider4">
        <div class="container">
          <h1>CONSTRUIR PROYECTOS EN TIEMPO REAL</h1>
          <hr>
          <p>Crea tu proyecto y edita tus archivos en tiempo real gracias a nuestra plataforma.</p>
        </div><!-- container -->
      </section><!-- section -->

      <!-- ==== contacto ==== -->
      <div class="container" id="contact" name="contact">
        <div class="row">
          <br>
          <h1 class="centered">Gracias por Visitarnos</h1>
          <hr>
          <br>
          <br>
          <div class="col-lg-4">
            <h3>Informacion de Contacto</h3>
            <p><span class="icon icon-home"></span> Chocó- Colombia<br/>
              <span class="icon icon-phone"></span> +34 9884 4893 <br/>
              <span class="icon icon-mobile"></span> +34 59855 9853 <br/>
              <span class="icon icon-envelop"></span> <a href="#"> soporte@pairdev.co</a> <br/>
              <span class="icon icon-twitter"></span> <a href="#"> @pairdev </a> <br/>
              <span class="icon icon-facebook"></span> <a href="#"> Pairdev Platform </a> <br/>
            </p>
          </div><!-- col -->

          <div class="col-lg-4">
            <h3>Newsletter</h3>
            <p>Registrate para recibir nuestra noticias y mantenerte actualizado de los servicios de nuestra plataforma.</p>
            <p>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputEmail1" class="col-lg-4 control-label"></label>
                  <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="text1" class="col-lg-4 control-label"></label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="text1" placeholder="Your Name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10">
                    <button type="submit" class="btn btn-success">Sign in</button>
                  </div>
                </div>
              </form><!-- form -->
            </p>
          </div><!-- col -->

          <div class="col-lg-4">
            <h3>Agradecimientos</h3>
            <p>PairDev es una plataforma creada con la colaboracion y los conocimientos impartidos de los miembros y mentores de Make it real.</p>
          </div><!-- col -->

        </div><!-- row -->

      </div><!-- container -->

      <div id="footerwrap">
        <div class="container">
          <h4><a href="http://blacktie.co">Mike-Dev</a> - Copyright 2015</h4>
        </div>
      </div>
