  <div id="project-content-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Invitación</h4>
        </div>

           <%= render 'form' %>


      </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
  </div>
