<span class="input input--isao">
  <%= form_for @project , remote: true do |f| %>
  <%= f.text_field :name , class:"input__field input__field--isao"%>
  <%= f.label :name,('<span class="input__label-content-isao input__label-content--isao">Nombre nuevo Proyecto</span>').html_safe, class:"input__label input__label--isao" ,"data-content"=>"Nombre nuevo Proyecto" %>

</span>

<%= button_tag(type: "submit", class:"btn", id:"btn-send") do %>
<i class="fa fa-plus-square fa-2x"></i>
<% end %>

<% end %>
