video {
    width: 320px;
}

.margin_show_projects{
    margin-top: 5%;
    margin-left: 5%;
   }


.container-company{

}
.container-board{
  height: 800%;

}
.container-editor-css{
   background-color: #23241F;
   height: 600px;
   margin:0px;
   padding:0px;
}

.container-files{
   background-color: white ;
   height: 600px;

}

.container-files span{
     font-size: 20px;
     padding-top-top: 40px;
}

.container-list-file{
   height: 516px;
   overflow: scroll;
}

.input-creater-file{
   margin: 3px 0px 10px 0px;
   padding: 0px;

}

.input-namefile{
  background-color: rgba(30,156,255,0.2);
  border-radius: 7px;
  border : none;
  font-size: 14px;
  color: black;
  font-weight: bold;
  height: 45px;
  padding-left: 7px;
  padding-right: 14px;
}
/* style scroll #B3ABAB*/
::-webkit-scrollbar {
     width:5px;    // Vertical bar
     height:1px;   // Horizontal bar
     background:#222222;
}

::-webkit-scrollbar-track-piece  {
    /* background-color: #222222;*/
}

::-webkit-scrollbar-thumb {
   width: 15px;
   background:rgba(73, 73, 73, 1);
}
